.d-picker {
	position: absolute;
	display: flex;
	flex-direction: column;
}
.d-picker-horizontal {
	flex-direction: row;
}

.d-picker-heading {
	background: var(--brand-primary);
	color: white;
	padding: 1em;
}
.d-picker-year-input {
	border: 0;
	background: transparent;
	color: inherit;
	width: 4em;
	border-bottom: 1px dotted white;
}

.d-picker-month-title {
	line-height: 3rem;
}
.d-picker-month-button {
	border: 0;
	padding: 0.5em;
}

.circle {
	border-radius: 50%;
	border-bottom: 0;
}
.d-picker-day {
	text-align: center;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	padding: 0.75em;
	cursor: pointer;
	position: relative;
}
.d-picker-day::after {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	border-radius: 50%;
	content: '';
	opacity: 0;
	background: black;
	transition: opacity 0.1s ease;
}
.d-picker-day:hover::after {
	opacity: 0.2;
}
.d-picker-today {
	color: var(--brand-primary);
	font-weight: bold;
}
.d-picker-selected {
	color: white;
	background: var(--brand-primary);
}